.tratamiento-container {
    padding: 20px;
  }
  
  .tratamientos-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .tratamientos-list button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form textarea {
    margin-bottom: 10px;
    padding: 10px;
    resize: vertical;
  }
  
  form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  