.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.login-left img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  background-color: #f8f9fa; /* Cambia el color de fondo de la parte derecha */
}

.login-form {
  width: 80%;
  max-width: 400px;
}

.login-logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #fc4c4e; /* Cambia el color del borde de los campos de texto */
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #fc4c4e; /* Cambia el color de fondo del botón */
  color: white;
  border: none;
  cursor: pointer;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: #fc4c4e; /* Cambia el color del texto del enlace 'Olvidé mi contraseña' */
}
